.audio-player-container,
.audio-player-container-inactive {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.audio-player-container {
  transform: translateY(0);
}

.audio-player-container-inactive {
  transform: translateY(100%);
  pointer-events: none;
}

.audio-player {
  background-color: #1a1819;
  padding-left: 10px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.audio-player-ui {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 5px;
  padding-left: 10px;
}

.display-labels {
  display: flex;
  flex-direction: column;
  width: 135px;
}

.display-labels span {
  padding-left: 10px;
}

.track-name {
  color: #d1ccd0;
  font-size: 15px;
  font-weight: 700;
}

.album-name {
  color: #a39ca2;
  font-size: 12px;
}

.track-info {
  display: flex;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 3px;
}

.play-pause-button {
  width: 80px;
  font-size: 18px;
}

.skip-stop-button-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.skip-buttons-container {
  display: flex;
  gap: 3px;
}

.play-pause-button {
  cursor: pointer;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skip-button {
  cursor: pointer;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stop-button {
  cursor: pointer;

  width: 100%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stop-button img {
  width: 20px;
}

/* Mobile */

@media (max-width: 480px) {
  .audio-player {
    justify-content: space-between;
    padding-left: 0px;
    height: 70px;
  }

  .audio-player-ui {
    width: auto; /* stop stretching full width */
    justify-content: space-between;
  }
}