.header img {
  height: 75%;
  width: auto;
}

.folder-tabs {
  padding-left: 10px;
}

.tab {
  display: inline-block;
  background-color: #f6eec9;
  padding: 0.5rem 1.2rem;
  border: 1px solid #d5caa2;
  border-bottom: none;
  width: 8rem;
  border-radius: 8px 8px 0 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.tab.active {
  background-color: #e5dbb5;
}