.album {
  padding: 30px;
  text-align: left;
  font-size: 15px;
}

img {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

a {
  color: rgba(145, 35, 28);
}

.tracks {
  text-align: left;
}

/* Mobile override */
@media (max-width: 768px) {
  .album {
    text-align: center;
    padding: 30px;
  }
}