html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 155px;
  flex-shrink: 0;
  background-image: url("Header.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.pages {
  flex: 1;
  overflow-y: y;
  background-color: #f6eec9;
}